<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>UAV Aided Object Detection</title>
</head>

<body>
    
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
         <h1>UAV AIDED OBJECT DETECTION</h1>
        </div>
        
      </div>
    </div>
  </section>

 

  <section id="maine">
    <div class="maine container">
      <div class="flex gap-2 justify-center items-center">
        <div>
          <div id="image-container"></div>
        </div>
        <div>
         
<form action="/" method="post" class="" enctype='multipart/form-data'>
  
    <div class="drag-file-area">
      <svg width="69px" height="69px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 15L12 2M12 2L15 5.5M12 2L9 5.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M8 22.0002H16C18.8284 22.0002 20.2426 22.0002 21.1213 21.1215C22 20.2429 22 18.8286 22 16.0002V15.0002C22 12.1718 22 10.7576 21.1213 9.8789C20.3529 9.11051 19.175 9.01406 17 9.00195M7 9.00195C4.82497 9.01406 3.64706 9.11051 2.87868 9.87889C2 10.7576 2 12.1718 2 15.0002L2 16.0002C2 18.8286 2 20.2429 2.87868 21.1215C3.17848 21.4213 3.54062 21.6188 4 21.749" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>
      <h3 class="dynamic-message"> Select Image File </h3>
      <label class="label"> <span class="browse-files"> <input id="image-input" class="default-file-input" type="file" name="file" accept="image/*" required> <div class="browse-files-text">browse file</div> <div>from device</div> </span> </label>
    </div>
    <span class="cannot-upload-message"> <span class="material-icons-outlined">error</span> Please select a file first <span class="material-icons-outlined cancel-alert-button">cancel</span> </span>
   <div class="text-center">
    <button type="submit" class="upload-button " style="margin: auto;"> Upload </button>

   </div>
  
</form>
        </div>
      </div>
     
    </div>
  </section>



  <section id="footer">
    <div class="footer container">   
      <p>© NIT Silchar 2024. All rights reserved</p>
    </div>
  </section>
<script src={{url_for('static',filename='script.js')}}></script>
</body>
</html>